<nav class="nav-extended blue darken-1">
    <div class="nav-wrapper">
      <a href="#" style="padding-left: 10px;" class="brand-logo center">instaFetch</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://www.github.com/cyberbeast/insta-fetch">GITHUB</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active"href="#promises_tab">Promises</a></li>
        <li class="tab"><a href="#observables_tab">Observables</a></li>
        <li class="tab"><a href="#realtime_tab">Real-time</a></li>
        <li class="tab"><a href="#reviewminer_tab">ReviewMiner</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
        <!-- Page Content goes here -->
        <div id="promises_tab" class="col s12">
          <app-promise></app-promise>
        </div>

        <div id="observables_tab" class="col s12">
          <app-observable></app-observable>
        </div>

        <div id="realtime_tab" class="col s12">
          <app-realtime></app-realtime>
        </div>

        <div id="reviewminer_tab" class="col s12">
          <app-reviewminer></app-reviewminer>
        </div>

  </div>
